$lt-gray: #ddd;
$background-dark: #512DA8;
$background-more-dark: #4527A0;
$background-light: #9575CD;
$background-pale: #D1C4E9;

$background-olight: rgb(44, 145, 204);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(20px,30px);
    background: $background-olight ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-more-dark;
}

.logo {
    padding-right: 5px;
    width: 100px;
    height: 100px;
}