<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="10%">
    <img src="/assets/images/logo.png" alt="Logo" class="logo">
  </div>
  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Rebate Planner</h1>
    <p>Manage and Plan your Promotional Rebates</p>
  </div>
  <div fxFlex></div>
</div>

<mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/offer" routerLinkActive="active"><span class="fa fa-flash fa-lg"></span> Rebate</a>
  <a mat-button routerLink="/setup" routerLinkActive="active"><span class="fa fa-gears fa-lg"></span> Setup</a>
  <span class="flex-spacer"></span>
  <a mat-button ><span class="fa fa-sign-in"></span> Login</a>
</mat-toolbar>
