<mat-toolbar color="primary">
  <!--<span><img src="/assets/images/logo.png" height=30 width=41></span>-->
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/offer" routerLinkActive="active"><span class="fa fa-flash fa-lg"></span> Rebate</a>
  <a mat-button routerLink="/setup" routerLinkActive="active"><span class="fa fa-gears fa-lg"></span> Setup</a>
</mat-toolbar>


<div style="text-align:center;">
  <p>© Copyright 2015 ABC Corporation</p>
</div>
